name: CD - Deploy to Staging

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      run: |
        docker build -t ci-cd-python-app .

    - name: Run container (Staging)
      run: |
        docker run -d -p 5000:5000 --name staging-app ci-cd-python-app

    - name: Verify deployment
      run: |
        sleep 5
        curl http://localhost:5000/health
